@import "../../responsive.scss";

.layout {
  height: 100vh;

  display: flex;
  flex-direction: column;

  @include lg {
    // background-color: rgb(247, 210, 196);
    max-width: 1366px;
  }

  @include md {
    // background-color: rgb(186, 203, 234);
    max-width: 1024px;
  }

  @include sm {
    // background-color: rgb(239, 200, 200);
    max-width: 738px;
  }

  .navbar {
    height: 70px;
  }
  .content {
    height: calc(100vh - 70px);
  }
}
